<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzrilyzr.FAQ.Server" >
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="adnroid.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
	<application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".MainActivity"
			android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".ControlActivity"/>
		<activity android:name=".UserManager"/>
		<service android:name=".ScreenService"/>
		<receiver
			android:name=".BroadcastReceiver"
			android:enabled="true"
			android:exported="true">
			<intent-filter android:priority="1000">
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
		<receiver
			android:name=".DeviceAdminReceiver"
			android:permission="android.permission.BIND_DEVICE_ADMIN">
			<meta-data
				android:name="android.app.device_admin"
				android:resource="@xml/device_admin"/>
			<intent-filter>
				<action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
			</intent-filter>
		</receiver>
    </application>

</manifest>
