<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yzrilyzr.FAQ" >
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="adnroid.permission.CHANGE_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
		android:theme="@null"
        android:label="@string/app_name">
        <activity android:name=".SplashActivity">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<service android:name=".MsgService"/>
		<activity android:name=".SysMsgActivity"/>
		<activity android:name="com.yzrilyzr.ui.uiSettingsActivity"/>
		<activity android:name=".ProfileActivity"/>
		<activity android:name=".LoginActivity"/>
		<activity android:name=".MainActivity"/>
		<activity android:name=".ListActivity"
			android:taskAffinity="com.yzrilyzr.FAQ"
			android:launchMode="singleTask"/>
		<activity android:name=".RegisterActivity"/>
    </application>
</manifest>
